@import 'variables.scss';

.accordion-container {
    margin-top: 110px;
    .acc-wrapper {
        .acc-item {
            background-color: $gray-primary;
            height: 50px;
            overflow: hidden;
            font-size: 13px;
            padding: 16px 19px 30px 20px;
            border-radius: 4px;
            box-shadow: $gray-shadow;
            margin-bottom: 10px;
            transition: all 0.4s ease;
            cursor: pointer;

            .fa-minus-circle {
                display:none;
            }

            &.active {
                background-color: white;
                height: 120px;

                .fa-minus-circle {
                    display:block;
                }

                .fa-plus-circle {
                    display: none;
                }
            }
            .title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 22px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}