.flexbox-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .grid-1 {
        width: 23%;
    }
    .grid-2 {
        width: 48%;
    }
    .grid-3 {
        width: 74%;
    }
    .grid-4 {
        width: 100%;
    }
}

