@import 'variables.scss';

header {
    width: 100%;
    position: relative;

    &:after {
        content: "";
        height: 9px;
        width: 100%;
        background-image: url(../images/ruler-header.png);
        position: absolute;
        bottom: 80px;
    }

    nav {
        padding: 22px 0;
        display: flex;
        background-color: $green-primary;

        .wrapper {
            display: flex;
            justify-content: space-between;

            .nav-items {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 2px 0;
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;

                li {
                    border-radius: 5px;

                    &:not(:last-child) {
                        padding: 10px 22px 0px 22px;
                        transition: background-color 0.4s ease;
                        margin-right: 8px;

                        &:hover,
                        &.active {
                            background-color: #62a29e;
                            box-shadow: 0 4px #528b86;
                            cursor: pointer;
                        }
                    }

                    &#search-button {
                        text-align: center;
                        background-color: $red-primary;
                        box-shadow: $red-shadow;
                        position: relative;
                        padding: 9px 10px 0px 10px;

                        &:hover {
                            cursor: pointer;
                        }

                        i {
                            font-size: 16px;
                        }

                        #search-box {
                            &.active {
                                display: block;
                            }

                            display: none;

                            &:before {
                                content: "";
                                position: absolute;
                                top: calc(100% + 7px);
                                right: 12px;
                                border-bottom: 7px solid $red-darker;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                            }

                            #search-box-input {
                                font-size: 14px;
                                font-family: Myriad Pro, sans-serif;
                                border: 5px solid $red-darker;
                                border-radius: 5px;
                                position: absolute;
                                right: 0;
                                top: calc(100% + 13px);
                                z-index: 1;
                                outline: none;
                                padding: 8px 11px;
                            }

                        }
                    }

                    &#portfolio {
                        white-space: nowrap;

                        i {
                            color: white;
                            position: relative;
                            left: -2px;

                        }
                    }
                }
            }
        }
    }

    .page-headline {
        align-items: center;
        padding: 28px 0;
        background-color: #ececec;

        .wrapper {
            position: relative;
            display: flex;
            justify-content: space-between;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                border-top: 12px solid #ececec;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }

            h1 {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                padding-left: 5px;
            }

            p {
                font-size: 12px;
                text-transform: capitalize;
                padding: 5px 5px 5px 0;

                span:nth-child(2) {
                    margin: 0 5px;
                }
            }

        }
    }
}

@media (max-width: 1050px) {
    header {
        nav {
            .wrapper {
                justify-content: center;
                flex-wrap: wrap;

                .nav-items {
                    li {
                        &#search-button {
                            padding-bottom: 6px;
                        }
                    }
                }

            }
        }

    }

}

@media (max-width: 840px) {
    header {
        nav {
            .wrapper {
                .logo {
                    span:first-child {
                        font-size: 25px;
                    }

                    span:nth-child(2) {
                        font-size: 20px;
                    }
                }

                .nav-items {
                    justify-content: center;
                    padding: 10px 22px;

                    li {
                        &:not(:last-child) {

                            font-size: 12px;
                            padding-bottom: 5px;
                        }

                        &#search-button {
                            position: fixed;
                            z-index: 2;
                            right: 22px;
                            top: 25px;
                            padding: 6px 9px 4px 9px;

                            i {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

}