@import 'flexbox-grid';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

body {
    height: 5510px;
    background-color: #f3f3f3;
    color: #7f8c8c;
    a {
        text-decoration: none;
        color:white;
    } 
    ul {
        list-style: none;
    }
    button {
        border: none;
        outline: none;
    }
    h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
    }
    h3 {
        text-transform: capitalize;
        font-size: 16px;
    }
    .hidden {
        display: none;
    }  
    .wrapper {
        width: 1170px;
        margin: auto;
    }    
    header {
        width: 100%;
        background: linear-gradient(to bottom,$green-primary 50%,#ececec 50%);
        margin-bottom: 50px;
        &:after {
            content: "";
            height: 9px;
            width: 100%;
            background-image: url(../images/ruler.png);
            position: absolute;
            top: 71px; 
        }
        nav {
            height: 80px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .logo {
                display: flex;
                text-decoration: none;
                align-items: flex-end;
                color: white;
                padding-left: 6px;
                span:first-child {
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 700; 
                }
                span:nth-child(2) {
                    font-size: 25px;
                    align-self: flex-end;
                    margin-left: 5px;
                    font-weight: 300;
                    padding-bottom: 2px;
                }
            }
            .nav-items {
                list-style: none;
                width: 780px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                li {
                    border-radius: 5px;
                    &:not(:last-child) {
                        padding: 9px 20px;
                        height: 30px;
                        padding-top: 8px;
                        
                        transition: background-color 0.4s ease;
                        &:hover, &.active {
                            background-color: #62a29e !important;
                            box-shadow: 0 3px #528b86;
                            cursor: pointer;
                        }
                    }
                    &#search-button {
                        text-align: center;
                        width: 33px;
                        height: 30px;
                        background-color: $red-primary;
                        box-shadow: 0px 2px $red-darker;
                        position: relative;
                        left: -3px;
                        &:hover, &.active {
                            cursor: pointer;
                        }
                        i {
                            font-size: 16px;
                            margin-top: 8px;
                        }
                        #search-box {
                            &.active {
                                display: block;
                            }
                            display: none;
                            &:before {
                                content: "";
                                position: relative;
                                top: -8px;
                                right: -5px;
                                border-bottom: 7px solid $red-darker;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                            }
                            #search-box-input {
                                font-size: 14px;
                                font-family: Myriad Pro, sans-serif;
                                padding-left: 5px;
                                width: 200px;
                                height: 40px;
                                border: 5px solid $red-darker;
                                border-radius: 4px;
                                position: relative;
                                left: -180px;
                                bottom: -20px;
                                z-index: 1;
                                outline: none;
                            }
                        }
                    }
                    &#portfolio {
                        i {
                            color: white;
                            position: relative;
                            left: -2px;
                        }
                    }
                }
            }
        }
        .page-headline {
            height: 80px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            padding: 7px 6px 0 9px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                border-top: 12px solid #ececec;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;    
            }
            h1 {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
            p {
                font-size: 12px;
                text-transform: capitalize;
                span:nth-child(2) {
                    margin: 0 5px;
                }
            }

        }
    }
        

    
    main {
        @import 'slidebar.scss';
        @import 'infobox.scss';
        @import 'accordion.scss';
        @import 'tabs.scss';
        .hr {
            height: 3px;
            background-color: $gray-darker;
            margin-top: 40px;
        }
        .grid-container {
            margin-top: 50px;
            >div {
                &:not(:nth-of-type(4)), &:not(:nth-of-type(5)) {
                    margin-bottom: 80px;      
                }
                &:nth-of-type(4), &:nth-of-type(5) {
                    margin-bottom: 60px;
                }
                p {
                    font-size: 14px;
                    text-align: left;
                    padding-right: 19px;
                    margin-top: 20px;

                }
            }
        }
    }
}











