@import 'flexbox-grid.scss';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

body {
    background-color: #f3f3f3;
    color: #7f8c8c;

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        list-style: none;
    }

    button {
        border: none;
        outline: none;
        cursor: pointer;
    }

    h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
    }

    h3 {
        text-transform: capitalize;
        font-size: 16px;
    }

    .hidden {
        display: none;
    }

    .wrapper {
        width: 1170px;
        margin: auto;
        max-width: 100%;
    }

    .logo {
        text-decoration: none;
        color: white;

        span:first-child {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }

        span:nth-child(2) {
            font-size: 25px;
            font-weight: 300;
        }
    }

    @import 'header.scss';

    main {
        @import 'slidebar.scss';
        @import 'infobox.scss';
        @import 'accordion.scss';
        @import 'tabs.scss';
        @import 'portfolio.scss';

        .hr {
            height: 2px;
            background-color: $gray-darker;
            margin-top: 40px;
        }

        .grid-container {
            margin-top: 50px;

            >div {
                &:nth-last-child(-n + 4) {
                    margin-top: 45px;
                    margin-bottom: 20px;
                }

                &.grid-2 {
                    margin-top: 80px;
                    margin-bottom: 68px;
                }

                &.grid-4 {
                    height: 90px
                }
            }

            p {
                font-size: 14px;
                text-align: left;
                padding-right: 19px;
                line-height: 1.6;
                margin-top: 16px;
            }
        }

        .list-container {
            margin-top: 50px;

            .list {
                font-size: 14px;

                &:first-child {
                    font-size: 13px;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    i {
                        color: $red-primary;
                    }
                }

                &:nth-child(3),
                &:nth-child(4) {
                    i {
                        color: $green-primary;
                    }
                }

                h3 {
                    margin-bottom: 30px;
                }

                ul {
                    li {
                        margin-bottom: 12px;

                        i {
                            margin-right: 8px;
                            font-size: 12px;

                        }
                    }
                }
            }
        }

        .infobox-single {
            width: 100%;
            height: 100px;
            background-color: $gray-darker;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 37px 0 25px;
            margin-top: 42px;
            border-radius: 5px;

            .content {
                h2 {
                    text-transform: capitalize;
                    font-size: 25px;
                }

                p {
                    font-size: 13px;
                    margin-top: 6px;
                }
            }

            button {
                padding: 15px 46px;
                background-color: $red-primary;
                text-transform: uppercase;
                font-size: 20px;
                color: white;
                border-radius: 5px;
                box-shadow: $red-shadow;
            }
        }

        .table-container {
            height: 520px;
            margin-top: 55px;

            .table-wrapper {
                &:first-child {
                    table {
                        thead {
                            background-color: #ececec;

                            tr {
                                th {
                                    &:nth-child(3) {
                                        padding-right: 40%;
                                    }

                                    &:not(:first-child) {
                                        border-left: 1px solid $gray-darker;
                                    }

                                    &:last-child {
                                        width: 270px;
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    table {
                        thead {
                            background-color: $green-primary;
                            color: white;

                            tr {
                                th {
                                    &:not(:first-child) {
                                        border-left: 1px solid $green-darker;
                                    }

                                    &:last-child {
                                        width: 48%;
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    table {
                        thead {
                            background-color: $red-primary;
                            color: white;

                            tr {
                                th {
                                    &:not(:first-child) {
                                        border-left: 1px solid $red-darker;
                                    }

                                    &:last-child {
                                        width: 48%;
                                    }
                                }
                            }
                        }
                    }
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                    box-shadow: $gray-shadow;
                    border-radius: 5px;

                    thead {
                        tr {
                            th {
                                height: 50px;
                                padding-left: 10px;
                                text-align: left;

                                &:first-child {
                                    border-top-left-radius: 5px;
                                }

                                &:last-child {
                                    border-top-right-radius: 5px;
                                }
                            }
                        }
                    }

                    tbody {
                        background-color: white;
                        height: 165px;
                        font-size: 14px;
                        border-top: 3px solid $gray-darker;

                        tr {
                            border-bottom: 1px solid $gray-darker;

                            &:last-child {
                                td {
                                    &:first-child {
                                        border-bottom-left-radius: 5px;
                                    }

                                    &:last-child {
                                        border-bottom-right-radius: 5px;
                                    }
                                }
                            }

                            td {
                                padding: 12px 10px;

                                &:not(:first-child) {
                                    border-left: 1px solid $gray-darker;
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    @import 'footer.scss';
}

@media (max-width: 1280px) {
    body {
        .wrapper {
            padding: 0 20px;
        }
    }
}

@media (max-width: 1170px) {
    body {
        main {
            .table-container {
                height: unset;
                margin-top: 55px;

                .table-wrapper {
                    width: 100%;
                    margin: 15px 0;

                    table {
                        thead {
                            tr {
                                th {
                                    width: unset !important;
                                    padding-right: 0 !important;
                                }
                            }
                        }
                    }
                }
            }


            .list-container {
                .list {
                    width: 48%;
                    padding-left: 10%;
                    margin-bottom: 30px;
                }
            }

            .infobox-single {
                padding: 0 3%;

                .content {
                    width: 75%;
                }

                button {
                    font-size: 13px;
                    padding: 13px 44px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        main {
            .grid-container {
                div {
                    width: 100% !important;
                    height: unset !important;
                    margin: 0px 0 30px 0 !important;
                    text-align: center;

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        main {
            .list-container {
                .list {
                    width: 100%;
                    text-align: center;
                }
            }

            .infobox-single {
                padding: 10px 3%;
                height: fit-content;

                button {
                    font-size: 10px;
                    padding: 13px 42px;
                }
            }
        }
    }
}