@import 'variables.scss';

.portfolio-container {
    
    .portfolio-item {
        margin-top: 37px;
        max-height: 270px;
        position: relative;
        // overflow: hidden;
        border-radius: 5px;
        box-shadow: $gray-shadow;
        &:hover {
            .portfolio-overlay{
               opacity: 1;
            }
        }
        img {
            max-width: 100%;
            // max-height: 100%;
        }
        .portfolio-overlay {   
            opacity: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #76c7c0;
            color: white;
            border-radius: 5px;
            width: inherit;
            top: 0;
            height: 100%;
            width: 100%;
            padding-top: 55px;
            transition: all 0.6s ease;
            
            i {
                width: 40px;
                height: 40px;
                font-size: 25px;
                border-radius: 5px;
                margin:5px;
                padding-top: 7px;
                text-align: center;
                transition: all 0.4s ease;
                background-color: $green-darker;
                cursor: pointer;
                &:hover {
                    background-color: $red-darker;
                }
            }
        }
        span {
            text-transform: capitalize;
            font-size: 16px;
        }
    }
}

@media (max-width: 1024px) {
    body {
        .wrapper {
            padding: 0 20px;
        }
    }
      
  }