.slidebar-container {
    height: 1410px; 
    .slidebar {
        text-align: center;
        position: relative;
        overflow: hidden;
        .slider {
            display: flex;
            overflow: hidden;
            margin-bottom: 25px;
            border-radius: 4px;
            box-shadow: $gray-shadow;
        }
        button {
            color: white;
            width: 50px;
            height: 57px;
            box-shadow: 0px 3px 1px 0px $red-darker;
            position: absolute;
            top: 43%;
            &.prev {
                background: $red-primary url(../images/double-arrow-left.png) no-repeat 50% 50%;
                border-radius: 0 4px 4px 0;
                box-shadow: -1px 3px 0px 0px $red-darker                
            }
            &.next {
                background: $red-primary url(../images/double-arrow-right.png) no-repeat 50% 50%;
                right: 0;
                border-radius: 4px 0px 0 4px;
                box-shadow: 1px 3px 0px 0px $red-darker                
            }
        }
        .slidebar-nav-item {
            cursor: pointer;
            height: 5px;
            width: 60px;
            display: inline-block;
            margin: 0 5px;
            background-color: #b0b8b9;
            transition: background-color 0.4s ease;
            &:hover, &.active {
                background-color: $red-darker;
            }
        } 
    }
    .small-sliders {
        .aside-container {
            .slidebar {
                .sidebar-slideshow {
                    button {
                        width: 37px;
                        height: 40px;
                        top: 32%;
                        &.prev {
                            background: $red-primary url(../images/single-arrow-left.png) no-repeat 50% 50%;
                        } 
                        &.next {
                            background: $red-primary url(../images/single-arrow-right.png) no-repeat 50% 50%;
                            right: 0;                    
                        }               
                    }
                            
                }
                .slidebar-nav-item {
                    width: 30px;
                }    
            }                    
            .sidebar-gallery {
                h2 {
                    margin-bottom: 20px;
                    margin-top: 45px;
                }
                .gallery {
                    img {
                        margin-bottom: 15px;
                        border-radius: 4px;
                        box-shadow: $gray-shadow;
                    }
                }
            }
        }
    }
}
