.slidebar-container {
    height: 1430px;
    #project-slideshow-wrapper, #page-slideshow-wrapper {
        position: relative;
        button{
            width: 50px;
            height: 57px;
            i {
                font-size: 40px;
            }
        }

    }
    #project-slideshow-wrapper {
        button{
            top: calc(50% - 69px);
        }
    }
    #page-slideshow-wrapper {
        button{
            top: calc(50% - 52px);;
        }
    }
    .slidebar {
        text-align: center;
        position: relative;
        overflow: hidden;
        button {
            color: white;
            box-shadow: 0px 3px $red-darker;
            position: absolute;
            &.prev {
                background-color: $red-primary;
                border-radius: 0 4px 4px 0;
                box-shadow: 0px 3px $red-darker;
            }
            &.next {
                background-color: $red-primary;
                right: 0;
                border-radius: 4px 0px 0 4px;
                box-shadow: 0 3px $red-darker;

            }
        }
        .slider {
            display: flex;
            overflow: hidden;
            margin-bottom: 25px;
            border-radius: 4px;
            box-shadow: $gray-shadow;
            width: 1170px;
            
        }

        .slidebar-nav-item {
            cursor: pointer;
            height: 5px;
            width: 60px;
            display: inline-block;
            margin: 0 5px;
            background-color: #b0b8b9;
            transition: background-color 0.4s ease;
            &:hover, &.active {
                background-color: $red-darker;
            }
        } 
    }

    .small-sliders {
        .aside-container {
            .slidebar {
                .slider-nav {
                    .slidebar-nav-item {
                        width: 30px;
                    } 
                }                
            }  
            .sidebar-slideshow {
                margin-bottom: 17px;
                button {
                    width: 40px;
                    height: 38px;
                    top: calc(50% - 38px);
                    &.prev {
                        background-color: $red-primary;
                    } 
                    &.next {
                        background-color: $red-primary;
                        right: 0;             
                    }  
                    i {
                        font-size: 30px;
                        font-weight: bold;
                    }                  
                }
                        
            }                  
            .sidebar-gallery {
                h2 {
                    margin-bottom: 20px;
                    margin-top: 40px;
                }
                .gallery {
                    padding-top: 7px;
                    img {
                        width: 26%;
                        margin-bottom: 25px;
                        border-radius: 4px;
                        box-shadow: $gray-shadow;
                    }
                }
            }
        }
    }
}
