.flexbox-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .flexbox-grid .grid-1 {
    width: 23%; }
  .flexbox-grid .grid-2 {
    width: 48%; }
  .flexbox-grid .grid-3 {
    width: 74%; }
  .flexbox-grid .grid-4 {
    width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2; }

body {
  background-color: #f3f3f3;
  color: #7f8c8c; }
  body a {
    text-decoration: none;
    color: white; }
  body ul {
    list-style: none; }
  body button {
    border: none;
    outline: none;
    cursor: pointer; }
  body h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800; }
  body h3 {
    text-transform: capitalize;
    font-size: 16px; }
  body .hidden {
    display: none; }
  body .wrapper {
    width: 1170px;
    margin: auto;
    max-width: 100%; }
  body .logo {
    text-decoration: none;
    color: white; }
    body .logo span:first-child {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700; }
    body .logo span:nth-child(2) {
      font-size: 25px;
      font-weight: 300; }
  body header {
    width: 100%;
    position: relative; }
    body header:after {
      content: "";
      height: 9px;
      width: 100%;
      background-image: url(../images/ruler-header.png);
      position: absolute;
      bottom: 80px; }
    body header nav {
      padding: 22px 0;
      display: flex;
      background-color: #76c7c0; }
      body header nav .wrapper {
        display: flex;
        justify-content: space-between; }
        body header nav .wrapper .nav-items {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          padding: 2px 0;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase; }
          body header nav .wrapper .nav-items li {
            border-radius: 5px; }
            body header nav .wrapper .nav-items li:not(:last-child) {
              padding: 10px 22px 0px 22px;
              transition: background-color 0.4s ease;
              margin-right: 8px; }
              body header nav .wrapper .nav-items li:not(:last-child):hover, body header nav .wrapper .nav-items li:not(:last-child).active {
                background-color: #62a29e;
                box-shadow: 0 4px #528b86;
                cursor: pointer; }
            body header nav .wrapper .nav-items li#search-button {
              text-align: center;
              background-color: #e8645a;
              box-shadow: 0 3px #e2534b;
              position: relative;
              padding: 9px 10px 0px 10px; }
              body header nav .wrapper .nav-items li#search-button:hover {
                cursor: pointer; }
              body header nav .wrapper .nav-items li#search-button i {
                font-size: 16px; }
              body header nav .wrapper .nav-items li#search-button #search-box {
                display: none; }
                body header nav .wrapper .nav-items li#search-button #search-box.active {
                  display: block; }
                body header nav .wrapper .nav-items li#search-button #search-box:before {
                  content: "";
                  position: absolute;
                  top: calc(100% + 7px);
                  right: 12px;
                  border-bottom: 7px solid #e2534b;
                  border-left: 7px solid transparent;
                  border-right: 7px solid transparent; }
                body header nav .wrapper .nav-items li#search-button #search-box #search-box-input {
                  font-size: 14px;
                  font-family: Myriad Pro, sans-serif;
                  border: 5px solid #e2534b;
                  border-radius: 5px;
                  position: absolute;
                  right: 0;
                  top: calc(100% + 13px);
                  z-index: 1;
                  outline: none;
                  padding: 8px 11px; }
            body header nav .wrapper .nav-items li#portfolio {
              white-space: nowrap; }
              body header nav .wrapper .nav-items li#portfolio i {
                color: white;
                position: relative;
                left: -2px; }
    body header .page-headline {
      align-items: center;
      padding: 28px 0;
      background-color: #ececec; }
      body header .page-headline .wrapper {
        position: relative;
        display: flex;
        justify-content: space-between; }
        body header .page-headline .wrapper:after {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          border-top: 12px solid #ececec;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent; }
        body header .page-headline .wrapper h1 {
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          padding-left: 5px; }
        body header .page-headline .wrapper p {
          font-size: 12px;
          text-transform: capitalize;
          padding: 5px 5px 5px 0; }
          body header .page-headline .wrapper p span:nth-child(2) {
            margin: 0 5px; }
  @media (max-width: 1050px) {
    body header nav .wrapper {
      justify-content: center;
      flex-wrap: wrap; }
      body header nav .wrapper .nav-items li#search-button {
        padding-bottom: 6px; } }
  @media (max-width: 840px) {
    body header nav .wrapper .logo span:first-child {
      font-size: 25px; }
    body header nav .wrapper .logo span:nth-child(2) {
      font-size: 20px; }
    body header nav .wrapper .nav-items {
      justify-content: center;
      padding: 10px 22px; }
      body header nav .wrapper .nav-items li:not(:last-child) {
        font-size: 12px;
        padding-bottom: 5px; }
      body header nav .wrapper .nav-items li#search-button {
        position: fixed;
        z-index: 2;
        right: 22px;
        top: 25px;
        padding: 6px 9px 4px 9px; }
        body header nav .wrapper .nav-items li#search-button i {
          font-size: 14px; } }
  body main .slidebar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px; }
    body main .slidebar-container #project-slideshow-wrapper,
    body main .slidebar-container #page-slideshow-wrapper {
      position: relative; }
      body main .slidebar-container #project-slideshow-wrapper button,
      body main .slidebar-container #page-slideshow-wrapper button {
        top: calc(50%);
        transform: translateY(-92%); }
        body main .slidebar-container #project-slideshow-wrapper button i,
        body main .slidebar-container #page-slideshow-wrapper button i {
          font-size: 40px; }
    body main .slidebar-container .slidebar {
      text-align: center;
      position: relative;
      overflow: hidden; }
      body main .slidebar-container .slidebar .slider {
        display: flex;
        overflow: hidden;
        margin-bottom: 25px;
        border-radius: 4px;
        box-shadow: 0 3px #e5e6e6; }
        body main .slidebar-container .slidebar .slider img {
          max-width: 100%; }
      body main .slidebar-container .slidebar button {
        color: white;
        box-shadow: 0 3px #e2534b;
        position: absolute; }
        body main .slidebar-container .slidebar button.prev {
          padding: 7px 16px 7px 10px;
          background-color: #e8645a;
          border-radius: 0 4px 4px 0;
          box-shadow: 0 3px #e2534b; }
        body main .slidebar-container .slidebar button.next {
          padding: 7px 10px 7px 16px;
          background-color: #e8645a;
          right: 0;
          border-radius: 4px 0px 0 4px;
          box-shadow: 0 3px #e2534b; }
      body main .slidebar-container .slidebar .slidebar-nav-item {
        cursor: pointer;
        height: 5px;
        width: 60px;
        display: inline-block;
        margin: 0 5px;
        background-color: #b0b8b9;
        transition: background-color 0.4s ease; }
        body main .slidebar-container .slidebar .slidebar-nav-item:hover, body main .slidebar-container .slidebar .slidebar-nav-item.active {
          background-color: #e2534b; }
    body main .slidebar-container .small-sliders {
      width: 100%;
      margin-top: 55px;
      display: flex;
      justify-content: space-between; }
      body main .slidebar-container .small-sliders .slidebar {
        max-width: 870px; }
        body main .slidebar-container .small-sliders .slidebar .page-slideshow {
          max-width: 870px;
          max-height: 565px; }
      body main .slidebar-container .small-sliders .aside-container {
        width: 270px; }
        body main .slidebar-container .small-sliders .aside-container .slidebar {
          max-width: 270px; }
          body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow {
            height: 200px;
            margin-bottom: 17px; }
            body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button {
              top: calc(50%);
              transform: translateY(-92%); }
              body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button.prev {
                padding: 6px 17px 4px 12px;
                background-color: #e8645a; }
              body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button.next {
                padding: 6px 12px 4px 17px;
                background-color: #e8645a;
                right: 0; }
              body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button i {
                font-size: 30px;
                font-weight: bold; }
          body main .slidebar-container .small-sliders .aside-container .slidebar .slider-nav .slidebar-nav-item {
            width: 30px; }
        body main .slidebar-container .small-sliders .aside-container .sidebar-gallery {
          max-width: 270px; }
          body main .slidebar-container .small-sliders .aside-container .sidebar-gallery h2 {
            margin-bottom: 20px;
            margin-top: 40px; }
          body main .slidebar-container .small-sliders .aside-container .sidebar-gallery .gallery {
            padding-top: 7px; }
            body main .slidebar-container .small-sliders .aside-container .sidebar-gallery .gallery img {
              width: 26%;
              margin-bottom: 25px;
              border-radius: 4px;
              box-shadow: 0 3px #e5e6e6; }
  @media (max-width: 1280px) {
    body main .slidebar-container .small-sliders {
      flex-direction: column;
      align-items: center; }
      body main .slidebar-container .small-sliders .slidebar,
      body main .slidebar-container .small-sliders .aside-container {
        margin-top: 30px; }
      body main .slidebar-container .small-sliders .aside-container {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly; }
        body main .slidebar-container .small-sliders .aside-container .sidebar-gallery {
          text-align: center; }
          body main .slidebar-container .small-sliders .aside-container .sidebar-gallery h2 {
            margin-bottom: 30px;
            margin-top: 30px; } }
  @media (max-width: 767px) {
    body main .slidebar-container #project-slideshow-wrapper button,
    body main .slidebar-container #page-slideshow-wrapper button {
      padding: 4px 7px; }
      body main .slidebar-container #project-slideshow-wrapper button i,
      body main .slidebar-container #page-slideshow-wrapper button i {
        font-size: 30px; }
    body main .slidebar-container #project-slideshow-wrapper .slidebar-nav-item,
    body main .slidebar-container #page-slideshow-wrapper .slidebar-nav-item {
      width: 30px; }
    body main .slidebar-container .small-sliders {
      flex-direction: column;
      align-items: center; }
      body main .slidebar-container .small-sliders .slidebar,
      body main .slidebar-container .small-sliders .aside-container {
        margin-top: 30px; }
      body main .slidebar-container .small-sliders .aside-container {
        flex-direction: column;
        align-items: center; }
        body main .slidebar-container .small-sliders .aside-container #sidebar-slideshow-wrapper button.prev {
          padding: 0px 12px 0 7px; }
        body main .slidebar-container .small-sliders .aside-container #sidebar-slideshow-wrapper button.next {
          padding: 0px 7px 0 12px; }
        body main .slidebar-container .small-sliders .aside-container #sidebar-slideshow-wrapper button i {
          font-weight: 400; } }
  body main .infobox-container {
    margin-top: 52px; }
    body main .infobox-container .infobox-card {
      height: 310px;
      text-align: center;
      background-color: #f8f8f8;
      position: relative;
      padding: 50px 20px;
      border-radius: 4px;
      box-shadow: 0 3px #e5e6e6;
      transition: background-color 0.4s ease; }
      body main .infobox-container .infobox-card:hover {
        background-color: white; }
        body main .infobox-container .infobox-card:hover i {
          color: #e8645a; }
        body main .infobox-container .infobox-card:hover button {
          background-color: #e8645a;
          box-shadow: 0 3px #e2534b; }
      body main .infobox-container .infobox-card i {
        color: #76c7c0;
        font-size: 60px;
        transition: color 0.4s ease; }
      body main .infobox-container .infobox-card h2 {
        margin-top: 12px;
        margin-bottom: 27px; }
      body main .infobox-container .infobox-card p {
        font-size: 12px;
        line-height: 1.6; }
      body main .infobox-container .infobox-card button {
        font-size: 14px;
        position: absolute;
        bottom: -25px;
        left: calc(50% - 100px);
        width: 200px;
        color: white;
        height: 50px;
        border-radius: 4px;
        background-color: #76c7c0;
        box-shadow: 0 3px #62b9b0;
        transition: all 0.4s ease; }
  @media (max-width: 1024px) {
    body main .infobox-container {
      padding: 0px 80px;
      justify-content: space-around; }
      body main .infobox-container .infobox-card {
        min-width: 270px;
        margin-top: 60px; } }
  body main .accordion-container {
    margin-top: 110px; }
    body main .accordion-container .acc-wrapper .acc-item {
      background-color: #f8f8f8;
      height: 50px;
      overflow: hidden;
      font-size: 13px;
      padding: 16px 19px 30px 20px;
      border-radius: 4px;
      box-shadow: 0 3px #e5e6e6;
      margin-bottom: 10px;
      transition: all 0.4s ease;
      cursor: pointer; }
      body main .accordion-container .acc-wrapper .acc-item .fa-minus-circle {
        display: none; }
      body main .accordion-container .acc-wrapper .acc-item.active {
        background-color: white;
        height: 120px; }
        body main .accordion-container .acc-wrapper .acc-item.active .fa-minus-circle {
          display: block; }
        body main .accordion-container .acc-wrapper .acc-item.active .fa-plus-circle {
          display: none; }
      body main .accordion-container .acc-wrapper .acc-item .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px; }
        body main .accordion-container .acc-wrapper .acc-item .title i {
          font-size: 20px; }
  @media (max-width: 1024px) {
    body main .accordion-container {
      justify-content: center; }
      body main .accordion-container .acc-wrapper {
        width: 100%;
        margin-top: 50px; }
        body main .accordion-container .acc-wrapper .acc-item.active .title {
          margin-bottom: 5px; }
        body main .accordion-container .acc-wrapper .acc-item.active p {
          margin-right: 18px; } }
  body main .tab-container {
    margin-top: 40px; }
    body main .tab-container .tab-wrapper:first-child p {
      margin-right: 60px; }
    body main .tab-container .tab-wrapper .tab-titles {
      display: flex; }
      body main .tab-container .tab-wrapper .tab-titles .tab-title {
        width: 130px;
        height: 55px;
        color: white;
        background-color: #76c7c0;
        text-align: center;
        border-radius: 5px 5px 0 0;
        padding-top: 18px;
        transition: all 0.4s ease;
        cursor: pointer; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title:not(:last-child) {
          margin-right: 10px; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title:hover {
          background-color: #e8645a; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title.active {
          color: inherit;
          background-color: #f8f8f8; }
    body main .tab-container .tab-wrapper .tab-contents {
      z-index: 1;
      position: relative;
      top: -5px; }
      body main .tab-container .tab-wrapper .tab-contents .tab-content {
        display: none; }
        body main .tab-container .tab-wrapper .tab-contents .tab-content img {
          max-width: 160px;
          max-height: 140px; }
        body main .tab-container .tab-wrapper .tab-contents .tab-content.active {
          display: flex;
          overflow: hidden;
          min-height: 170px;
          padding: 33px 25px 28px 20px;
          background-color: #f8f8f8;
          border-radius: 5px;
          box-shadow: 0 3px #e5e6e6; }
        body main .tab-container .tab-wrapper .tab-contents .tab-content p {
          line-height: 1.6;
          font-size: 13px; }
  @media (max-width: 1024px) {
    body main .tab-container .tab-wrapper {
      width: 100%; }
      body main .tab-container .tab-wrapper.grid-1 {
        margin-top: 50px; } }
  @media (max-width: 690px) {
    body main .tab-container .tab-wrapper:first-child .tab-contents .tab-content {
      flex-direction: column-reverse;
      align-items: center; }
      body main .tab-container .tab-wrapper:first-child .tab-contents .tab-content p {
        margin-right: 0;
        margin-top: 10px; }
    body main .tab-container .tab-wrapper .tab-titles .tab-title {
      font-size: 11px;
      width: 100px;
      height: 50px; } }
  body main .portfolio-container .portfolio-item {
    margin-top: 37px;
    max-height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px #e5e6e6; }
    body main .portfolio-container .portfolio-item img {
      max-width: 100%; }
    body main .portfolio-container .portfolio-item:hover .portfolio-overlay {
      opacity: 1; }
    body main .portfolio-container .portfolio-item .portfolio-overlay {
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #76c7c0;
      color: white;
      border-radius: 5px;
      width: inherit;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 55px;
      transition: all 0.6s ease; }
      body main .portfolio-container .portfolio-item .portfolio-overlay i {
        width: 40px;
        height: 40px;
        font-size: 25px;
        border-radius: 5px;
        margin: 5px;
        padding-top: 7px;
        text-align: center;
        transition: all 0.4s ease;
        background-color: #62b9b0;
        cursor: pointer; }
        body main .portfolio-container .portfolio-item .portfolio-overlay i:hover {
          background-color: #e2534b; }
    body main .portfolio-container .portfolio-item span {
      text-transform: capitalize;
      font-size: 16px; }
  @media (max-width: 1024px) {
    body main .portfolio-container .portfolio-item .portfolio-overlay {
      justify-content: space-around; }
      body main .portfolio-container .portfolio-item .portfolio-overlay i {
        width: 35px;
        height: 35px;
        font-size: 20px; } }
  @media (max-width: 767px) {
    body main .portfolio-container .portfolio-item .portfolio-overlay {
      padding-bottom: 20%;
      justify-content: space-around; }
      body main .portfolio-container .portfolio-item .portfolio-overlay i {
        width: 30px;
        height: 30px;
        font-size: 15px; }
      body main .portfolio-container .portfolio-item .portfolio-overlay span {
        font-size: 13px; } }
  body main .hr {
    height: 2px;
    background-color: #e5e6e6;
    margin-top: 40px; }
  body main .grid-container {
    margin-top: 50px; }
    body main .grid-container > div:nth-last-child(-n + 4) {
      margin-top: 45px;
      margin-bottom: 20px; }
    body main .grid-container > div.grid-2 {
      margin-top: 80px;
      margin-bottom: 68px; }
    body main .grid-container > div.grid-4 {
      height: 90px; }
    body main .grid-container p {
      font-size: 14px;
      text-align: left;
      padding-right: 19px;
      line-height: 1.6;
      margin-top: 16px; }
  body main .list-container {
    margin-top: 50px; }
    body main .list-container .list {
      font-size: 14px; }
      body main .list-container .list:first-child {
        font-size: 13px; }
      body main .list-container .list:nth-child(1) i, body main .list-container .list:nth-child(2) i {
        color: #e8645a; }
      body main .list-container .list:nth-child(3) i, body main .list-container .list:nth-child(4) i {
        color: #76c7c0; }
      body main .list-container .list h3 {
        margin-bottom: 30px; }
      body main .list-container .list ul li {
        margin-bottom: 12px; }
        body main .list-container .list ul li i {
          margin-right: 8px;
          font-size: 12px; }
  body main .infobox-single {
    width: 100%;
    height: 100px;
    background-color: #e5e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px 0 25px;
    margin-top: 42px;
    border-radius: 5px; }
    body main .infobox-single .content h2 {
      text-transform: capitalize;
      font-size: 25px; }
    body main .infobox-single .content p {
      font-size: 13px;
      margin-top: 6px; }
    body main .infobox-single button {
      padding: 15px 46px;
      background-color: #e8645a;
      text-transform: uppercase;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      box-shadow: 0 3px #e2534b; }
  body main .table-container {
    height: 520px;
    margin-top: 55px; }
    body main .table-container .table-wrapper:first-child table thead {
      background-color: #ececec; }
      body main .table-container .table-wrapper:first-child table thead tr th:nth-child(3) {
        padding-right: 40%; }
      body main .table-container .table-wrapper:first-child table thead tr th:not(:first-child) {
        border-left: 1px solid #e5e6e6; }
      body main .table-container .table-wrapper:first-child table thead tr th:last-child {
        width: 270px; }
    body main .table-container .table-wrapper:nth-child(2) table thead {
      background-color: #76c7c0;
      color: white; }
      body main .table-container .table-wrapper:nth-child(2) table thead tr th:not(:first-child) {
        border-left: 1px solid #62b9b0; }
      body main .table-container .table-wrapper:nth-child(2) table thead tr th:last-child {
        width: 48%; }
    body main .table-container .table-wrapper:last-child table thead {
      background-color: #e8645a;
      color: white; }
      body main .table-container .table-wrapper:last-child table thead tr th:not(:first-child) {
        border-left: 1px solid #e2534b; }
      body main .table-container .table-wrapper:last-child table thead tr th:last-child {
        width: 48%; }
    body main .table-container .table-wrapper table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 3px #e5e6e6;
      border-radius: 5px; }
      body main .table-container .table-wrapper table thead tr th {
        height: 50px;
        padding-left: 10px;
        text-align: left; }
        body main .table-container .table-wrapper table thead tr th:first-child {
          border-top-left-radius: 5px; }
        body main .table-container .table-wrapper table thead tr th:last-child {
          border-top-right-radius: 5px; }
      body main .table-container .table-wrapper table tbody {
        background-color: white;
        height: 165px;
        font-size: 14px;
        border-top: 3px solid #e5e6e6; }
        body main .table-container .table-wrapper table tbody tr {
          border-bottom: 1px solid #e5e6e6; }
          body main .table-container .table-wrapper table tbody tr:last-child td:first-child {
            border-bottom-left-radius: 5px; }
          body main .table-container .table-wrapper table tbody tr:last-child td:last-child {
            border-bottom-right-radius: 5px; }
          body main .table-container .table-wrapper table tbody tr td {
            padding: 12px 10px; }
            body main .table-container .table-wrapper table tbody tr td:not(:first-child) {
              border-left: 1px solid #e5e6e6; }
  body footer {
    font-size: 13px;
    margin-top: 22px;
    background-color: #76c7c0;
    color: white;
    position: relative; }
    body footer:before {
      content: "";
      height: 19px;
      width: 100%;
      background-image: url(../images/ruler-footer.png);
      position: absolute;
      top: 0; }
    body footer .footer-content {
      display: flex;
      padding: 40px 0 60px 0;
      justify-content: space-between; }
      body footer .footer-content .contacts {
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body footer .footer-content .contacts p {
          line-height: 1.9; }
        body footer .footer-content .contacts div p span:last-child {
          font-size: 20px;
          font-weight: 600;
          font-style: italic;
          margin-left: 20px; }
      body footer .footer-content > div:nth-child(2) {
        display: flex; }
        body footer .footer-content > div:nth-child(2) .company,
        body footer .footer-content > div:nth-child(2) .community {
          width: 170px; }
          body footer .footer-content > div:nth-child(2) .company h3,
          body footer .footer-content > div:nth-child(2) .community h3 {
            color: #4f8984;
            text-transform: capitalize;
            font-size: 20px;
            margin: 5px 0 30px 0; }
          body footer .footer-content > div:nth-child(2) .company ul,
          body footer .footer-content > div:nth-child(2) .community ul {
            padding-left: 25px; }
            body footer .footer-content > div:nth-child(2) .company ul li,
            body footer .footer-content > div:nth-child(2) .community ul li {
              margin-bottom: 8px; }
              body footer .footer-content > div:nth-child(2) .company ul li i,
              body footer .footer-content > div:nth-child(2) .community ul li i {
                margin-right: 9px; }
      body footer .footer-content .blog {
        width: 372px; }
        body footer .footer-content .blog h3 {
          font-size: 20px;
          margin-top: 9px; }
          body footer .footer-content .blog h3 span:first-child {
            text-transform: none;
            font-style: italic;
            font-weight: 400; }
          body footer .footer-content .blog h3 span:nth-child(2) {
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 5px; }
        body footer .footer-content .blog .blog-post {
          display: flex;
          margin-top: 20px; }
          body footer .footer-content .blog .blog-post div {
            margin-left: 20px; }
            body footer .footer-content .blog .blog-post div p {
              line-height: 1.6; }
              body footer .footer-content .blog .blog-post div p.date {
                color: #4f8984; }
    body footer .footer-media {
      height: 50px;
      background-color: #62b9b0; }
      body footer .footer-media .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body footer .footer-media .wrapper i {
          font-size: 25px;
          margin-left: 19px;
          cursor: pointer; }
  @media (max-width: 767px) {
    body footer .footer-content {
      align-items: center;
      flex-direction: column-reverse; }
      body footer .footer-content .contacts {
        margin-left: 20px; }
      body footer .footer-content > div:nth-child(2) {
        align-items: baseline;
        margin: 20px 0;
        margin: 20px 0; } }

@media (max-width: 1280px) {
  body .wrapper {
    padding: 0 20px; } }

@media (max-width: 1170px) {
  body main .table-container {
    height: unset;
    margin-top: 55px; }
    body main .table-container .table-wrapper {
      width: 100%;
      margin: 15px 0; }
      body main .table-container .table-wrapper table thead tr th {
        width: unset !important;
        padding-right: 0 !important; }
  body main .list-container .list {
    width: 48%;
    padding-left: 10%;
    margin-bottom: 30px; }
  body main .infobox-single {
    padding: 0 3%; }
    body main .infobox-single .content {
      width: 75%; }
    body main .infobox-single button {
      font-size: 13px;
      padding: 13px 44px; } }

@media (max-width: 1024px) {
  body main .grid-container div {
    width: 100% !important;
    height: unset !important;
    margin: 0px 0 30px 0 !important;
    text-align: center; }
    body main .grid-container div p {
      text-align: justify; } }

@media (max-width: 767px) {
  body main .list-container .list {
    width: 100%;
    text-align: center; }
  body main .infobox-single {
    padding: 10px 3%;
    height: fit-content; }
    body main .infobox-single button {
      font-size: 10px;
      padding: 13px 42px; } }
