.flexbox-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .flexbox-grid .grid-1 {
    width: 23%; }
  .flexbox-grid .grid-2 {
    width: 48%; }
  .flexbox-grid .grid-3 {
    width: 74%; }
  .flexbox-grid .grid-4 {
    width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2; }

body {
  height: 5510px;
  background-color: #f3f3f3;
  color: #7f8c8c; }
  body a {
    text-decoration: none;
    color: white; }
  body ul {
    list-style: none; }
  body button {
    border: none;
    outline: none;
    cursor: pointer; }
  body h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800; }
  body h3 {
    text-transform: capitalize;
    font-size: 16px; }
  body .hidden {
    display: none; }
  body .wrapper {
    width: 1170px;
    margin: auto; }
  body .logo {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    color: white; }
    body .logo span:first-child {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700; }
    body .logo span:nth-child(2) {
      font-size: 25px;
      align-self: flex-end;
      margin-left: 5px;
      font-weight: 300;
      padding-bottom: 2px; }
  body header {
    width: 100%;
    background: linear-gradient(to bottom, #76c7c0 50%, #ececec 50%);
    margin-bottom: 50px; }
    body header:after {
      content: "";
      height: 9px;
      width: 100%;
      background-image: url(../images/ruler-header.png);
      position: absolute;
      top: 71px; }
    body header nav {
      height: 80px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-left: 6px; }
      body header nav .nav-items {
        list-style: none;
        width: 780px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase; }
        body header nav .nav-items li {
          border-radius: 5px; }
          body header nav .nav-items li:not(:last-child) {
            padding: 9px 20px;
            height: 30px;
            padding-top: 8px;
            transition: background-color 0.4s ease; }
            body header nav .nav-items li:not(:last-child):hover, body header nav .nav-items li:not(:last-child).active {
              background-color: #62a29e !important;
              box-shadow: 0 4px #528b86;
              cursor: pointer; }
          body header nav .nav-items li#search-button {
            text-align: center;
            width: 33px;
            height: 30px;
            background-color: #e8645a;
            box-shadow: 0 4px #e2534b;
            position: relative;
            left: -3px; }
            body header nav .nav-items li#search-button:hover, body header nav .nav-items li#search-button.active {
              cursor: pointer; }
            body header nav .nav-items li#search-button i {
              font-size: 16px;
              margin-top: 8px; }
            body header nav .nav-items li#search-button #search-box {
              display: none; }
              body header nav .nav-items li#search-button #search-box.active {
                display: block; }
              body header nav .nav-items li#search-button #search-box:before {
                content: "";
                position: relative;
                top: -8px;
                right: -5px;
                border-bottom: 7px solid #e2534b;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent; }
              body header nav .nav-items li#search-button #search-box #search-box-input {
                font-size: 14px;
                font-family: Myriad Pro, sans-serif;
                padding-left: 5px;
                width: 200px;
                height: 40px;
                border: 5px solid #e2534b;
                border-radius: 4px;
                position: relative;
                left: -180px;
                bottom: -20px;
                z-index: 1;
                outline: none; }
          body header nav .nav-items li#portfolio i {
            color: white;
            position: relative;
            left: -2px; }
    body header .page-headline {
      height: 80px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 7px 6px 0 9px;
      position: relative; }
      body header .page-headline:after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        border-top: 12px solid #ececec;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent; }
      body header .page-headline h1 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase; }
      body header .page-headline p {
        font-size: 12px;
        text-transform: capitalize; }
        body header .page-headline p span:nth-child(2) {
          margin: 0 5px; }
  body main .slidebar-container {
    height: 1430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body main .slidebar-container #project-slideshow-wrapper, body main .slidebar-container #page-slideshow-wrapper {
      position: relative; }
      body main .slidebar-container #project-slideshow-wrapper button, body main .slidebar-container #page-slideshow-wrapper button {
        width: 50px;
        height: 57px;
        top: calc(50% - 61px); }
        body main .slidebar-container #project-slideshow-wrapper button i, body main .slidebar-container #page-slideshow-wrapper button i {
          font-size: 40px; }
    body main .slidebar-container .slidebar {
      text-align: center;
      position: relative;
      overflow: hidden; }
      body main .slidebar-container .slidebar .slider {
        display: flex;
        overflow: hidden;
        margin-bottom: 25px;
        border-radius: 4px;
        box-shadow: 0 4px #e5e6e6; }
      body main .slidebar-container .slidebar button {
        color: white;
        box-shadow: 0 4px #e2534b;
        position: absolute; }
        body main .slidebar-container .slidebar button.prev {
          background-color: #e8645a;
          border-radius: 0 4px 4px 0;
          box-shadow: 0 4px #e2534b; }
        body main .slidebar-container .slidebar button.next {
          background-color: #e8645a;
          right: 0;
          border-radius: 4px 0px 0 4px;
          box-shadow: 0 4px #e2534b; }
      body main .slidebar-container .slidebar .slidebar-nav-item {
        cursor: pointer;
        height: 5px;
        width: 60px;
        display: inline-block;
        margin: 0 5px;
        background-color: #b0b8b9;
        transition: background-color 0.4s ease; }
        body main .slidebar-container .slidebar .slidebar-nav-item:hover, body main .slidebar-container .slidebar .slidebar-nav-item.active {
          background-color: #e2534b; }
    body main .slidebar-container .small-sliders {
      width: 100%;
      margin-top: 35px;
      display: flex;
      justify-content: space-between; }
      body main .slidebar-container .small-sliders .slider.page-slideshow {
        width: 870px;
        height: 565px; }
      body main .slidebar-container .small-sliders .aside-container {
        width: 270px; }
        body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow {
          height: 200px;
          margin-bottom: 17px; }
          body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button {
            width: 40px;
            height: 38px;
            top: calc(50% - 38px); }
            body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button.prev {
              background-color: #e8645a; }
            body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button.next {
              background-color: #e8645a;
              right: 0; }
            body main .slidebar-container .small-sliders .aside-container .slidebar .sidebar-slideshow button i {
              font-size: 30px;
              font-weight: bold; }
        body main .slidebar-container .small-sliders .aside-container .slidebar .slider-nav .slidebar-nav-item {
          width: 30px; }
        body main .slidebar-container .small-sliders .aside-container .sidebar-gallery h2 {
          margin-bottom: 20px;
          margin-top: 40px; }
        body main .slidebar-container .small-sliders .aside-container .sidebar-gallery .gallery {
          padding-top: 7px; }
          body main .slidebar-container .small-sliders .aside-container .sidebar-gallery .gallery img {
            width: 26%;
            margin-bottom: 25px;
            border-radius: 4px;
            box-shadow: 0 4px #e5e6e6; }
  body main .infobox-container {
    margin-top: 30px; }
    body main .infobox-container .infobox-card {
      height: 310px;
      text-align: center;
      background-color: #f8f8f8;
      position: relative;
      padding: 50px 20px;
      border-radius: 4px;
      box-shadow: 0 4px #e5e6e6;
      transition: background-color 0.4s ease; }
      body main .infobox-container .infobox-card:hover {
        background-color: white; }
        body main .infobox-container .infobox-card:hover i {
          color: #e8645a; }
        body main .infobox-container .infobox-card:hover button {
          background-color: #e8645a;
          box-shadow: 0 4px #e2534b; }
      body main .infobox-container .infobox-card i {
        color: #76c7c0;
        font-size: 60px;
        transition: color 0.4s ease; }
      body main .infobox-container .infobox-card h2 {
        margin-top: 12px;
        margin-bottom: 27px; }
      body main .infobox-container .infobox-card p {
        font-size: 12px;
        line-height: 1.6; }
      body main .infobox-container .infobox-card button {
        font-size: 14px;
        position: absolute;
        bottom: -25px;
        left: calc(50% - 100px);
        width: 200px;
        color: white;
        height: 50px;
        border-radius: 4px;
        background-color: #76c7c0;
        box-shadow: 0 4px #62b9b0;
        transition: all 0.4s ease; }
  body main .accordion-container {
    margin-top: 110px; }
    body main .accordion-container .acc-wrapper .acc-item {
      background-color: #f8f8f8;
      height: 50px;
      overflow: hidden;
      font-size: 13px;
      padding: 16px 19px 30px 20px;
      border-radius: 4px;
      box-shadow: 0 4px #e5e6e6;
      margin-bottom: 10px;
      transition: all 0.4s ease;
      cursor: pointer; }
      body main .accordion-container .acc-wrapper .acc-item .fa-minus-circle {
        display: none; }
      body main .accordion-container .acc-wrapper .acc-item.active {
        background-color: white;
        height: 120px; }
        body main .accordion-container .acc-wrapper .acc-item.active .fa-minus-circle {
          display: block; }
        body main .accordion-container .acc-wrapper .acc-item.active .fa-plus-circle {
          display: none; }
      body main .accordion-container .acc-wrapper .acc-item .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px; }
        body main .accordion-container .acc-wrapper .acc-item .title i {
          font-size: 20px; }
  body main .tab-container {
    margin-top: 40px; }
    body main .tab-container .tab-wrapper .tab-titles {
      display: flex; }
      body main .tab-container .tab-wrapper .tab-titles .tab-title {
        width: 130px;
        height: 55px;
        color: white;
        background-color: #76c7c0;
        text-align: center;
        border-radius: 5px 5px 0 0;
        padding-top: 18px;
        transition: all 0.4s ease;
        cursor: pointer; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title:not(:last-child) {
          margin-right: 10px; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title:hover {
          background-color: #e8645a; }
        body main .tab-container .tab-wrapper .tab-titles .tab-title.active {
          color: inherit;
          background-color: #f8f8f8; }
    body main .tab-container .tab-wrapper .tab-contents {
      z-index: 1;
      position: relative;
      top: -5px; }
      body main .tab-container .tab-wrapper .tab-contents .tab-content {
        display: none; }
        body main .tab-container .tab-wrapper .tab-contents .tab-content.active {
          display: flex;
          overflow: hidden;
          height: 170px;
          padding: 33px 25px 28px 20px;
          background-color: #f8f8f8;
          border-radius: 5px;
          box-shadow: 0 4px #e5e6e6; }
        body main .tab-container .tab-wrapper .tab-contents .tab-content p {
          line-height: 1.6;
          font-size: 13px;
          min-width: 230px;
          margin-right: 60px; }
  body main .portfolio-container .portfolio-item {
    margin-top: 37px;
    height: 270px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px #e5e6e6; }
    body main .portfolio-container .portfolio-item:hover .portfolio-overlay {
      opacity: 1; }
    body main .portfolio-container .portfolio-item .portfolio-overlay {
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #76c7c0;
      color: white;
      border-radius: 5px;
      width: inherit;
      top: 0;
      height: 100%;
      width: 100%;
      padding-top: 55px;
      transition: all 0.6s ease; }
      body main .portfolio-container .portfolio-item .portfolio-overlay i {
        width: 40px;
        height: 40px;
        font-size: 25px;
        border-radius: 5px;
        margin: 5px;
        padding-top: 7px;
        text-align: center;
        transition: all 0.4s ease;
        background-color: #62b9b0;
        cursor: pointer; }
        body main .portfolio-container .portfolio-item .portfolio-overlay i:hover {
          background-color: #e2534b; }
    body main .portfolio-container .portfolio-item span {
      text-transform: capitalize;
      font-size: 16px; }
  body main .hr {
    height: 2px;
    background-color: #e5e6e6;
    margin-top: 40px; }
  body main .grid-container {
    margin-top: 50px; }
    body main .grid-container > div:nth-last-child(-n + 4) {
      margin-top: 45px;
      margin-bottom: 20px; }
    body main .grid-container > div.grid-2 {
      margin-top: 80px;
      margin-bottom: 68px; }
    body main .grid-container > div.grid-4 {
      height: 90px; }
    body main .grid-container p {
      font-size: 14px;
      text-align: left;
      padding-right: 19px;
      line-height: 1.6;
      margin-top: 16px; }
  body main .list-container {
    margin-top: 50px; }
    body main .list-container .list {
      font-size: 14px; }
      body main .list-container .list:first-child {
        font-size: 13px; }
      body main .list-container .list:nth-child(1) i, body main .list-container .list:nth-child(2) i {
        color: #e8645a; }
      body main .list-container .list:nth-child(3) i, body main .list-container .list:nth-child(4) i {
        color: #76c7c0; }
      body main .list-container .list h3 {
        margin-bottom: 30px; }
      body main .list-container .list ul li {
        margin-bottom: 12px; }
        body main .list-container .list ul li i {
          margin-right: 8px;
          font-size: 12px; }
  body main .infobox-single {
    width: 100%;
    height: 100px;
    background-color: #e5e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px 0 25px;
    margin-top: 40px;
    border-radius: 5px; }
    body main .infobox-single .content h2 {
      text-transform: capitalize;
      font-size: 25px; }
    body main .infobox-single .content p {
      font-size: 13px;
      margin-top: 6px; }
    body main .infobox-single button {
      width: 200px;
      height: 50%;
      background-color: #e8645a;
      text-transform: uppercase;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      box-shadow: 0 4px #e2534b; }
  body footer {
    font-size: 13px;
    height: 350px;
    margin-top: 50px;
    background-color: #76c7c0;
    color: white;
    position: relative; }
    body footer:before {
      content: "";
      height: 19px;
      width: 100%;
      background-image: url(../images/ruler-footer.png);
      position: absolute;
      top: 0; }
    body footer .footer-content {
      height: 300px;
      display: flex;
      padding: 40px 0 60px 0;
      justify-content: space-between; }
      body footer .footer-content .contacts {
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body footer .footer-content .contacts p {
          line-height: 1.9; }
        body footer .footer-content .contacts div p span:last-child {
          font-size: 20px;
          font-weight: 600;
          font-style: italic;
          margin-left: 20px; }
      body footer .footer-content .company, body footer .footer-content .community {
        width: 170px; }
        body footer .footer-content .company h3, body footer .footer-content .community h3 {
          color: #4f8984;
          text-transform: capitalize;
          font-size: 20px;
          margin: 5px 0 30px 0; }
        body footer .footer-content .company ul, body footer .footer-content .community ul {
          padding-left: 25px; }
          body footer .footer-content .company ul li, body footer .footer-content .community ul li {
            margin-bottom: 8px; }
            body footer .footer-content .company ul li i, body footer .footer-content .community ul li i {
              margin-right: 9px; }
      body footer .footer-content .blog {
        width: 372px; }
        body footer .footer-content .blog h3 {
          font-size: 20px;
          margin-top: 9px; }
          body footer .footer-content .blog h3 span:first-child {
            text-transform: none;
            font-style: italic;
            font-weight: 400; }
          body footer .footer-content .blog h3 span:nth-child(2) {
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 5px; }
        body footer .footer-content .blog .blog-post {
          display: flex;
          margin-top: 20px; }
          body footer .footer-content .blog .blog-post div {
            margin-left: 20px; }
            body footer .footer-content .blog .blog-post div p {
              line-height: 1.6; }
              body footer .footer-content .blog .blog-post div p.date {
                color: #4f8984; }
    body footer .footer-media {
      height: 50px;
      background-color: #62b9b0; }
      body footer .footer-media .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body footer .footer-media .wrapper i {
          font-size: 25px;
          margin-left: 19px;
          cursor: pointer; }
